[class*=sidebar-dark-] {
    background-color: #042c9d;
}

.navbar-white {
    background-color: rgb(255 255 255 / 80%);
    color: #1f2d3d;
}

.content-wrapper {
    background-color: #ffffff;
}

.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active, .sidebar-light-primary .nav-sidebar>.nav-item>.nav-link.active {
    background-color: #232427;
    color: rgb(251 251 251 / 80%);
}

.navbar-light {
    background-color: #f8f9fa00;
    margin-bottom: 5px;
}



.btn-outline-primary {
    color: #ffffff;
    border-color: #2e2d2d;
}
.btn {
    display: inline-block;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #2e2d2d;
    border: 1px solid transparent;
    padding: 5px;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.4rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


.bg-light {
    background-color: #f8f9fa00!important;
}
.btn-agregar{
    background-color: #11db3d;
    

}
.alan{
    margin: 0;
    background-color: #11db3d;
    width: 100%;
}
/* Barras de navegacion */
.navegacion-barra{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 10px;

}
.container-navegacion-1{
}
.navegacion-barra-adeudo{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 10px;
}
.container-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}
.header-ayuda{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    
}
.logo-ayuda{
    width: 100px;
    height: 100px;
}
.logo-header{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 30px;
}
.container-titulo-header{
    display: flex;
    justify-content: center;
}

/* Barra de navegacion VISTA AYUDA */
.barra-ayuda-header{
    display: flex;
    width: 100%;
    padding: 3px;
    justify-content: center;
    border: 2px solid black;
    border-radius: 15px;
    background-color: #ffffff;
}

.input-barrabuscar{
    width: 90%;
    padding: 9px;
    border: none;
    outline: none;
    

}
.btn-buscarBarra{
    width: 10%;
    border: none;
    background-color: #ffffff;
}

/* Componente tabla de datos */
.tabla-component{
    overflow: scroll;
    height:300px;
    width:550px;
}
.tabla-component table{
    width:500px;
}